
.center{
    float:right;
    width:1000px;
    height: 610px;
    font-size: 80px;
    color: black;
    font-weight: bolder;
    /* border:2px solid red; */
    padding:3px 3px;
    font-family: HelveticaNowDisplay,Arial,sans-serif;
      line-height: 1.6111111111;
    margin:30px 100px;
  }
   .sidebar{
      
        position:absolute;
      left:780px;
      top:700px; 
     /* border: 2px solid red; */
      display: inline-block;
      color:black;
      height:700px;
      width:1000px;
      font-size: 30px;
  clear:both;
  
  }
      
   .sidebar h3{
      font-size:34px;
      color:black;
      font-weight: bold;
      
   }
   .quote{
      position: absolute;
      left:600px;
      top:0px;
      display: inline-block;
      width:300px;
   }
   .personal{
      position: absolute;
      left:600px;
      top:300px;
      display: inline-block;
      width:300px;
   }
   .fully{
      position: absolute;
      top:300px;
      left:0px;
      display: inline-block;
      width:300px;
  
   }
   .flexible{
      display: inline-block;
      width:300px;
   }
   footer{
    background-color: black;
    height: 800px;
}

.name{
    color:white;
    font-size: 56px;
    display:inline-block;
    margin:5px 20px;
    padding:3px 3px;
    
    /* border:2px solid red; */
}
.follow{
    margin:11px 20px;
    padding:3px 3px;
}

.follow h1{
    font-size: 34px;
    display:inline-block;
    color: white;
}
.follow a{
  display:inline-block;
  
}
.follow a img{
    
    width:40px;
  margin:3px 3px;
  padding:3px 3px;

}
 footer .main{
    width:730px;
    /* border:2px solid red; */
    height:350px;
     
    position:absolute;
    left:800px;
    top:70px; 
   
    display: inline-block;
    color:white;
    height:fit-content;
    font-size: 30px;
    
}
.main h2{
    font-size: 34px;
    font-weight: 20px;
}
#account{
    position: absolute;
    left:410px;
    bottom:0px;

}
#demand{
    position: absolute;
    left:410px;
    bottom:160px;


}
.main a{
    color:whitesmoke;
    font-size:24px;
}
.main a:hover{
    color:rgb(127, 119, 119);
    cursor: pointer;
}
.policy{
    position:absolute;
    left:700px;
    bottom:350px;
    font-size:24px;

}
.policy li{
    float:left;
    list-style:none;
    margin:13px;
}
.policy li a{
    padding:3px 3px;
    color:white;
    font-size:20px;
    text-decoration:none ;
}
.policy a:hover{
    color:rgb(127, 119, 119);
    cursor: pointer;
}
.content{
    position:absolute;
    left:700px;
    bottom:210px;
    color:white;
    font-size: 24px;

}
.copyright{
    position:absolute;
    left:25px;
    bottom:130px;
    color:white;
    font-size: 14px;

}